body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  background-color: #eee;
}

/* HEADER */
.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-color: white;
}

.header h1 {
  margin: 2% 0 0 5%;
  color: #272b2e;
}

/* PRODUCT LIST */
.products {
  margin: 80px 0 0 0;
}

.product-list li {
  display: inline-block;
  margin: 2% 1%;
}

.product {
  padding: 0 0 30px 0;
  text-align: center;
  background-color: white;
}

@media (min-width: 426px) {
  .product {
    width: 45%;
  }
}

@media (min-width: 769px) {
  .product {
    width: 30%;
  }
}

.product img {
  width: 100%;
  margin: 0 0 10px 0;
}

.product p {
  font-size: 14px;
}

.product h4, .product h5, .product p {
  margin: 0;
  color: #272b2e;
}

.addButton {
  width: 60%;
  margin: 10px 0 0 0;
  padding: 10px;
  border: 0;
  color: white;
  font-size: 18px;
  line-height: 20px;
  border-radius: 3px;
  background-color: #e58788;
}

/* PRODUCT OVER */
.noStock img {
  opacity: 0.3;
}

.noStock button {
  color: #bbb;
  background-color: #ddd;
}

/* AMOUNT */
.amount {
  text-align: right;
  padding: 20px 0 0 0;
}

.amount p {
  font-size: 18px;
  line-height: 15px;
}

.labelAmount {
  color: #272b2e;
}

.totalAmount {
  color: #e58788;
}

/* CART */
.cart {
  margin: 50px 0 0 0;
  padding: 0 20px 0 0;
  width: 23%;
  position: fixed;
}

.cart ul {
  padding: 0;
}

.cart li {
  margin: 10px 0;
  padding: 10px 10px 10px 30px;
  list-style-type: none;
  background-color: white;
}

.cart p {
  line-height: 18px;
  margin: 0;
}

.buttonPlus, .buttonMoins, .cartQuantity{
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.buttonPlus {
  color: white;
  background-color: #e58788;
}

.buttonMoins {
  color: #3e3e3e;
  background-color: #ccc;
}

.cartQuantity {
  padding: 8px 0 0 0; 
  margin: 0 0 0 5px;
}

.deleteProduct {
  margin: 10px 0 0 0;
  font-size: 12px;
}

.emptyCart {
  width: 60%;
  margin: 0 5px 0 0;
  padding: 10px 0;
  line-height: 15px;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: white;
  background-color: #65737e;
}